<div class="app">
    <div class="table-wrapper">
        <div class="table-title"></div>
        <div id="user-table" class="table-content">
            <!--user-table-->
        </div>
    </div>
    <div class="new-user">
        <div class="new-user__row">
            <div class="new-user__row-title">Enter User Name</div>
            <input type="text" class="new-user__name"/>
            <div class="error-message _user-name">User Name is not valid.</div>
        </div>
        <div class="new-user__row">
            <div class="new-user__row-title">Enter User Phone number</div>
            <input type="text" class="new-user__phone"/>
            <div class="error-message _user-phone">Phone number is not valid.</div>
        </div>
        <button id="add-user" class="button">Add User</button>
    </div>
</div>