<div class="app">
    <div class="table-wrapper">
        <div class="table-title">Users Table</div>
        <div id="user-table" class="table-content">
        </div>
    </div>
    <div class="new-user__title">Add User</div>
    <div id="new-user"></div>
</div>
