<table class="user-table">
    <thead class="user-table-header">
    <tr class="user-table-header__row">
        <th class="user-table-header__cell _user">Users</th>
        <th class="user-table-header__cell _phone">Phone</th>
        <th class="user-table-header__cell _actions"></th>
    </tr>
    </thead>
    <tbody id="user-table-body" class="user-table-body">
    </tbody>
</table>