<div class="new-user__wrapper">
    <div class="new-user">
        <div class="new-user__row">
            <div class="new-user__row-title">Enter User Name</div>
            <input type="text" class="new-user__name"/>
        </div>
        <div class="new-user__row">
            <div class="new-user__row-title">Enter User Phone number</div>
            <input type="text" class="new-user__phone"/>
        </div>
        <button id="add-user" class="button">Add User</button>
    </div>
    <div id="error" class="error-message"></div>
</div>