{{#isEditMode}}
    <td class="user-table-body__cell _user">
        <input type="text" class="user-name" value="{{name}}"/>
    </td>
    <td class="user-table-body__cell _phone">
        <div class="user-table-body__cell-wrapper">
            <input type="text" class="user-phone" value="{{phone}}"/>
            <div id="error" class="error-message _user-phone"></div>
        </div>
    </td>
    <td class="user-table-body__cell _actions">
        <button id="save" class="button _save"></button>
        <button id="remove" class="button _remove"></button>
    </td>
{{/isEditMode}}
{{^isEditMode}}
    <td class="user-table-body__cell">
        <div class="user-name">{{name}}</div>
    </td>
    <td class="user-table-body__cell">
        <div class="user-phone">{{phone}}</div>
    </td>
    <td class="user-table-body__cell">
        <button id="edit" class="button _edit"></button>
        <button id="remove" class="button _remove"></button>
    </td>
{{/isEditMode}}
